**/.deps/
**/.libs/
**/.dirstamp
*.o
*.lo
*.la
*.m4
*.log
*Makefile
*Makefile.in
MMEcmd/MMEcmd
NAS/testApp/NAStest
S1AP/testApp/S1APtest
exampleProgram/eNBemulator
exampleProgram/eping
exampleProgram/exampleProgram
exampleProgram/hmac_test
exampleProgram/loadWithAttach
exampleProgram/loadtest
mme/mme
TestProgram/check_all
TestProgram/check_all.trs
TestProgram/check_tests.xml
autom4te.cache/
compile
config.guess
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
test-driver
.settings_*
GPATH
GRTAGS
GTAGS